transformers>=4.36.2
gradio>=4.13.0
protobuf>=4.25.1
torch>=2.0.1
openai==1.8.0
uvicorn
loguru
sse_starlette
torchvision
accelerate
sentencepiece
deepspeed
datasets
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability