einops
fastapi
numpy
requests
sentencepiece
tokenizers>=0.12.1
torch
torchvision
uvicorn
wandb
shortuuid
httpx==0.24.0
deepspeed==0.9.5
peft==0.4.0
transformers==4.36.0
accelerate==0.21.0
bitsandbytes==0.41.0
scikit-learn==1.2.2
sentencepiece==0.1.99
einops==0.6.1
einops-exts==0.0.4
gradio_client==0.2.9
flash_attn==2.3.2
openpyxl